<div id="landlords-content" data-id="{{dataId}}">
    <h3>{{name}}</h3>
    <p>{{address}}</p>
    <button type="button" class="landlordsEditButton" data-id="{{dataId}}" name="editButton">Edit</button>
    <button type="button" class="landlordsDeleteButton" data-id="{{dataId}}" name="deleteButton">Delete</button>
  </div>
