<div id="comments-content" data-id="{{dataId}}">
  <h1>{{subject}}</h1>
  <h3>{{comment}}</h3>
  <p>{{rate}}</p>
  <button type="button" class="commentsEditButton" data-id="{{dataId}}" name="editButton">Edit</button>
  <button type="button" class="commentsDeleteButton" data-id="{{dataId}}" name="deleteButton">Delete</button>
</div>
