<div id="landlords-div" data-id="{{dataId}}">
  <h3>{{name}}</h3>
  <p>{{address}}</p>
  <button type="button" class="landlordEditButton" data-id="{{dataId}}" name="editButton">Edit</button>
  <button type="button" class="landlordDeleteButton" data-id="{{dataId}}" name="deleteButton">Delete</button>
</div>
